{% load static %}

{% include 'products/messages.html' %}

<!--Login / Registration / Logout-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!--Welcome-->
    {% if user.is_authenticated %}
     <h2>Welcome, {{user.username}}!</h2>
    {% else %}
    <h2>Welcome!</h2>
    {% endif %}

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        
        <li class="nav-item">
          <a class="nav-link" href="/products/logout">Logout</a>
        </li>
 
        {% else %}
  
        <li class="nav-item">
          <a class="nav-link" href="/products/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/products/register">Register</a>
        </li>
  
        {% endif %}
      </ul>
    </div>
  </nav>
  

  <h1> Product Search Page </h1>
  <head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>

  <form action="/products/" method="POST" id="search_form">
      {% csrf_token %}

      <label for="product_name">Please enter a product name </label>
      <input type="text" id = "product_name" name="product_name" required>

      <button type="submit" value="Submit">Search</button>

  </form>
</div>

{% if product_name %}
<body>
    <h1>Top 6 Search Results for {{ product_name }}</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div id ='updateDiv'></div>
    <p id="demo"></p>
        <script>

        // change queryString to whatever search term the user enters
        var queryString = '{{ product_name }}'
        var googleSearchAPIKey = "{{ APIKeys.googleKey }}"

        var ebaySearchAPIKey = "{{ APIKeys.ebayKey }}"
        var ebayReviewID = ''

        var amazonSearchAPIKey = "{{ APIKeys.amazonKey }}"

        var googleStaticURL = 'http://api.serpstack.com/search?access_key=' + googleSearchAPIKey + '&query='+
            queryString + ' price=google&location=newyork&google_domain=google.com'

        var ebayStaticURL = 'https://api.countdownapi.com/request?api_key=' + ebaySearchAPIKey +
            '&type=search&ebay_domain=ebay.com&search_term=' + queryString + '&num=25'

        var amazonStaticURL = 'https://api.rainforestapi.com/request?api_key=' + amazonSearchAPIKey +
            '&type=search&amazon_domain=amazon.com&search_term=' + queryString + '&language=en_US&sort_by=featured'

        var left = document.getElementById("split-left");

        let leftcenter = document.createElement('div');
        leftcenter.className = 'centered';
        left.appendChild(leftcenter);

        let right = document.createElement('div');
        right.className = 'split right';
        document.body.appendChild(right);

        let rightcenter = document.createElement('div');
        rightcenter.className = 'centered';
        right.appendChild(rightcenter);


        // perform two consecutive API searches
        function ebayResultandReviews(){
            // google
            $.getJSON(googleStaticURL, function(data) {
            console.log(data);
            let div = document.createElement('div');
            div.id = 'googleResults';
            leftcenter.appendChild(div);
            let h4 = document.createElement('h4');
            h4.textContent = 'What we found on Google:';

            div.appendChild(h4);
            for (i = 0; i < 3; i++) {
                var k = i + 1;
                newParagraph = document.createElement('p');
                newParagraph.textContent = k.toString() + ". " + data.organic_results[i].title;
                div.appendChild(newParagraph);

                newParagraph = document.createElement('p');
                newParagraph.textContent = " " + data.organic_results[i].url;
                div.appendChild(newParagraph);
            }
        });

            //amazon
            $.getJSON(amazonStaticURL, function(data) {
                console.log(data);

                let div = document.createElement('div');
                div.id = 'amazonResults';
                leftcenter.appendChild(div);
                let h4 = document.createElement('h4');
                h4.textContent = 'What we found on Amazon:';
                div.appendChild(h4);

                for (i = 0; i < 3; i++) {
                    var k = i + 1;
                    newParagraph = document.createElement('p');
                    newParagraph.textContent = k.toString() + ". " + data.search_results[i].title;
                    div.appendChild(newParagraph);

                    newParagraph = document.createElement('p');
                    newParagraph.textContent = "Price: " + data.search_results[i].price.raw;
                    div.appendChild(newParagraph);

                    newParagraph = document.createElement('p');
                    newParagraph.textContent = data.search_results[i].link;
                    div.appendChild(newParagraph);

                }
            });


            // get the ebay results first
            $.getJSON(ebayStaticURL, function(data) {
                ebayReviewID = data.search_results[0].epid;
                console.log(data);

                let div = document.createElement('div');
                div.id = 'ebayResults';
                leftcenter.appendChild(div);
                let h4 = document.createElement('h4');
                h4.textContent = 'What we found on eBay:';
                div.appendChild(h4);

                for (i = 0; i < 3; i++) {
                    var k = i + 1;
                    newParagraph = document.createElement('p');
                    newParagraph.textContent = k.toString() + ". " + data.search_results[i].title;
                    div.appendChild(newParagraph);

                    newParagraph = document.createElement('p');
                    newParagraph.textContent = "Price: " + data.search_results[i].price.raw;
                    div.appendChild(newParagraph);

                    newParagraph = document.createElement('p');
                    newParagraph.textContent = data.search_results[i].link;
                    div.appendChild(newParagraph);

                }
            }).done(function () {
                // wait till results and item id is back and do search on reviews
                var ebayReviewURL = 'https://api.countdownapi.com/request?api_key=' + ebaySearchAPIKey +
                '&type=reviews&ebay_domain=ebay.com&epid=' + ebayReviewID + '&condition=all'

                $.getJSON(ebayReviewURL, function(data) {
                    console.log(data);
                    let div = document.createElement('div');
                    div.id = 'reviews';
                    rightcenter.appendChild(div);

                    // header
                    let h2 = document.createElement('h2');
                    h2.textContent = 'Reviews on ' + queryString + ': ' + " Average Ratings: " + data.summary.rating;
                    div.appendChild(h2);


                    // title + ratings
                    let h3 = document.createElement('h4');
                    h3.textContent = data.top_favourable.title;
                    div.appendChild(h3);

                    newParagraph = document.createElement('p');
                    newParagraph.textContent = data.top_favourable.body;
                    div.appendChild(newParagraph);

                    newParagraph = document.createElement('h5');
                    newParagraph.textContent = "    - Item reviewed by " + data.top_favourable.profile.name;
                    div.appendChild(newParagraph);

                    // Second Reviewer
                    let review1 = document.createElement('h4');
                    review1.textContent = data.reviews[1].title + " User Rating: " + data.reviews[1].rating;
                    div.appendChild(review1);
                    newParagraph = document.createElement('p');
                    newParagraph.textContent = data.reviews[1].body;
                    div.appendChild(newParagraph);
                    newParagraph = document.createElement('h5');
                    newParagraph.textContent = "    - Item reviewed by " + data.reviews[1].profile.name;
                    div.appendChild(newParagraph);

                    // Third Reviewer
                    let review2 = document.createElement('h4');
                    review2.textContent = data.reviews[2].title + " User Rating: " + data.reviews[2].rating;
                    div.appendChild(review2);
                    newParagraph = document.createElement('p');
                    newParagraph.textContent = data.reviews[2].body;
                    div.appendChild(newParagraph);
                    newParagraph = document.createElement('h5');
                    newParagraph.textContent = "    - Item reviewed by " + data.reviews[2].profile.name;
                    div.appendChild(newParagraph);

                });
            });

        }
        $(document).ready(function() {
            ebayResultandReviews();
        });


        </script>

  </body>
{% endif %}
