
.split {
    height: 90%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 5;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: white;
}

/* Control the right side */
.right {
    right: 0;
    background-color: grey;
}

/* If you want the content centered horizontally and vertically */
.centered {
    text-align: center
}

/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 50%;
}

#search_form {
    margin-left: 1rem;
}

#search_form label {
    font-size: 25pt;
    display: block;
}

#search_form input {
    font-size: 25pt;
    display: block;
    margin-top: 1rem;
}

#search_form button {
    font-size: 20pt;
    display: block;
    margin-top: 1rem;
}

#navbarText li {
    list-style: none;
}

#navbarText ul {
    padding: 1rem;
}

#navbarText a {
    text-decoration: none;
    border: 1px solid white;
    background: white;
    border-radius: 10px;
    color: black;
    font-size: 15pt;
    padding: 5px;
}

body {
    background: #abd5f7;
}

/*#split-left {*/
/*    background: #abd5f7;*/
/*}*/

h1 {
    margin-left: 1rem;
}

#login_form {
    margin-left: 1rem;
}

#login_form label {
    font-size: 20pt;
    display: block;
    margin-top: 1rem;
}

#login_form input {
    font-size: 20pt;
    display: block;
}

#login_form button {
    font-size: 20pt;
    display: block;
    margin-top: 1rem;
}
#bottom-msg
{
    font-size: 14pt;
    margin-left: 1rem;
}
